Repository spacetelescope/roman_photoz, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, automation, testing, regression_testing, assign_wcs, associations, Dark Current, dq_init, flatfield, jump, linearity, photom, ramp_fitting, saturation, stpipe, pipeline, Wide Field Instrument (WFI)

Added option to return the catalog in memory instead of saving to a file.
  roman_photoz/create_simulated_catalog.py
  roman_photoz/tests/test_update_romanisim_catalog_fluxes.py
  roman_photoz/update_romanisim_catalog_fluxes.py
Labels: testing

Address review comments.
  roman_photoz/tests/test_update_romanisim_catalog_fluxes.py
  roman_photoz/update_romanisim_catalog_fluxes.py
Labels: testing

Remove the option to disable scaling.
  roman_photoz/tests/test_update_romanisim_catalog_fluxes.py
  roman_photoz/update_romanisim_catalog_fluxes.py
  scripts/update_romanisim_catalog_fluxes.py
Labels: testing

Add parameter to rebuild simulated mag lib.
  roman_photoz/create_simulated_catalog.py
  scripts/simulate_and_process_l1_files.sh
Labels: none

Remove fixed MA table number.
  scripts/run_romanisim.sh
Labels: none

Update dependencies.
  pyproject.toml
Labels: dependencies

.github/labeler.yml:

documentation:
  - changed-files:
      - all-globs-to-any-file: ["*.rst", "!CHANGES.rst"]
      - any-glob-to-any-file:
          - "docs/**/*"
          - "*.md"
          - ".readthedocs.yaml"
          - "LICENSE"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "setup.*"
          - "requirements-*.txt"
          - "MANIFEST.in"

# --------------------------------------- testing ---------------------------------------

automation:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
          - ".bandit.yaml"
          - ".codecov.yml"
          - "Jenkinsfile*"

testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/tests/**"
          - ".github/workflows/*ci*.yml"
          - "conftest.py"
          - "tox.ini"

regression_testing:
  - changed-files:
      - any-glob-to-any-file:
          - "**/regtest/**"
          - "Jenkinsfile*"

# --------------------------------------- modules ---------------------------------------

assign_wcs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*assign_wcs*"
          - "**/*assign_wcs*/**"

associations:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*association*"
          - "**/*association*/**"

Dark Current:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*dark_current*"
          - "**/*dark_current*/**"

dq_init:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*dq_init*"
          - "**/*dq_init*/**"

flatfield:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*flatfield*"
          - "**/*flatfield*/**"

jump:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*jump*"
          - "**/*jump*/**"

linearity:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*linearity*"
          - "**/*linearity*/**"

photom:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*photom*"
          - "**/*photom*/**"

ramp_fitting:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*ramp_fitting*"
          - "**/*ramp_fitting*/**"

saturation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*saturation*"
          - "**/*saturation*/**"

# --------------------------------------- pipelines ---------------------------------------

stpipe:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*stpipe*"
          - "**/*stpipe*/**"

pipeline:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*pipeline*"
          - "**/*pipeline*/**"

# --------------------------------------- instruments ---------------------------------------

Wide Field Instrument (WFI):
  - changed-files:
      - any-glob-to-any-file:
          - "**/*wfi*"
          - "**/*wfi*/**"
